@import "tailwindcss";

:root {
  --background: #131712;
  --foreground: #f5f5f5;
}

@theme {
  --color-primary: #131712;
  --color-secondary: #1f251d;
  --color-button-bg: #52d22b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
